body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/736x/0d/58/14/0d5814580614622d05dd49ab5c33852c.jpg);
    background-size: cover;
}
#genres {
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    font-family: Bangers;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
