body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/736x/ba/c6/55/bac655227cd58d33ebb9862ffea00902.jpg);
    background-size: cover;
}
#genres {
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    font-family: Bangers;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
